/* Estilo da pagina index.html*/

.center {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    
}

.justify {

    text-align: justify;
    
}

.container-menu {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  #menu li {    /*O ID Menu, tbm se aplica a pagina contato.html*/
      display: inline;
      padding: 20px;
  }

  #menu li a {

      text-decoration: none;
      color: black;
      size: 20px;

  }#menu li a:hover {

      color: gray;

  }
  
  .p-30 {

    padding: 30px;

  }

  .br-50 {

        border-radius: 50%;

  }

  .hw-300 {

        width: 300px;
        height: 300px;

  }
  .tmu {
    width: 25px;
    height: 25px;

  }

  .tm-social {

        width: 40px;
        height: 40px;
  }

  .mb-50 {
        margin-bottom: 50px;

  }



/* Estilo da pagina contato.html*/



